# Bazel build artifacts
/bazel-bin/
/bazel-out/
/bazel-testlogs/
/bazel-*
.bazelrc.user

# C++ Build artifacts
*.o
*.a
*.so
*.lo
*.la
*.dylib
*.dll
*.exe
*.out
*.app


# VSCode
.vscode/


# TLS/SSL
*.pem
*.key
*.crt
*.srl
*.csr
*.ext
